/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #28a745;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}


.cta-button {
  background-color: #28a745;
  padding: 10px 20px;
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #218838;
}

.about p {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

/* Blog Section */
.container {
  width: 80%;
  margin: auto;
  padding: 40px 0;
}

.post {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Login section */
.login-container {
  background-color: white;
  padding: 30px;
  width: 300px;
  margin: 80px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
}

button:hover {
  background-color: #218838;
}
